@use "tokens" as *;

@mixin mq-max($bp) {
  @media (max-width: $bp) {
    @content;
  }
}

@mixin container {
  max-width: $layout-container-max;
  margin-left: auto;
  margin-right: auto;
  padding-left: $space-md;
  padding-right: $space-md;
}
